# PAN NUMBER VALIDATION WITH PANDAS
Data cleaning, validation

# Importing the needed libaries

In [57]:
import pandas as pd
import re

# Loading the dataset

In [68]:
cs = pd.read_excel (r"C:\Users\Simon.ansah\OneDrive - Etranzact Ghana\confirmation GIP\PAN_NUMBERS VALODATIONS\PAN Number Validation Dataset.xlsx")

# Printing the first 10 records of the dataset

In [59]:
cs.head(10)

    Pan_Numbers
0    VGLOD3180G
1    PHOXD7232L
2    MGEPH6532A
3    JJCHK4574O
4    XTQIJ2330L
5    HTJYM3835H
6    YQTAP6661X
7    hvofe5635y
8  hyuij7902r
9    idsmt3429e

# checking the data type of the Pan_Numbers

In [69]:
cs.Pan_Numbers.dtypes

dtype('O')

# since the pan_numbers were in object we need it to be in string for data cleaning

In [70]:
cs = cs.astype('string')

# printed the length of the dataset

In [62]:
print('The length of pan_numbers is ', len(cs))

The length of pan_numbers is  10000

# removing all spaces and converting the characters to upper case

In [71]:
cs.Pan_Numbers =cs.Pan_Numbers.str.strip().str.upper()

# checking for na values

In [72]:
cs[cs.Pan_Numbers.isna()]

     Pan_Numbers
5022        <NA>
5027        <NA>
5033        <NA>
5043        <NA>
5057        <NA>
...          ...
9961        <NA>
9972        <NA>
9986        <NA>
9987        <NA>
9997        <NA>

[965 rows x 1 columns]

# checking for empty values

In [73]:
cs [(cs['Pan_Numbers'] == '')]

     Pan_Numbers
5019
5020

# replacing empty ('') values with na

In [75]:
cs.replace({'Pan_Numbers' : ''}, pd.NA, inplace=True)

# dropping all na values

In [76]:
cs = cs.dropna(subset= ['Pan_Numbers'])

# removing all duplicates values

In [77]:
cs = cs.drop_duplicates(subset= ['Pan_Numbers'])

# checking the length after removing the duplicate values

In [78]:
print('The length of pan_numbers is ', len(cs))

The length of pan_numbers is  9025

In [79]:
cs.Pan_Numbers.nunique()

9025

# A function to check adjacent character (AABC, ABBC)

In [81]:
def adjacent_check(pan):
    for i in range(len(pan)-1):
        if pan[i] == pan[i+1]:
            return True
    return False
print(adjacent_check('AABC'))  # Example usage
print(adjacent_check('ABCD'))  # Example usage

True
False

# A Function to check sequential characters (ABCD, WXYZ)

In [85]:
def is_sequential(pan):
    for i in range(len(pan)-1):
        if ord(pan[i + 1]) - ord(pan[i]) != 1:
            return False
    return True
print(is_sequential('ABCD'))  # Example usage
print(is_sequential('ACZX'))  # Example usage
print(is_sequential('QRST'))  # Example usage

True
False
True

# Main function to check:
1. if the length of the pan <> 10
2. if the pan follows (A-Z) should be 5 charcters, followed by (0-9) should be 4 digits, (A-Z) the last character should be a character
3. if the function adjacent check is false
4. if the function is_sequential is false
5. create a new columns Status using results of the function is_vaild

In [86]:
def is_valid(pan):
    if len(pan) != 10:
        return False
    if not re.match(r'^[A-Z]{5}[0-9]{4}[A-Z]$', pan):
        return False
     
    if adjacent_check(pan):
        return False
    if is_sequential(pan):
        return False
    return True

cs['Status'] = cs.Pan_Numbers.apply(lambda x: 'Valid' if is_valid(x) else 'Invalid')
print(cs.head(10))

  Pan_Numbers   Status
0  VGLOD3180G    Valid
1  PHOXD7232L    Valid
2  MGEPH6532A    Valid
3  JJCHK4574O  Invalid
4  XTQIJ2330L  Invalid
5  HTJYM3835H    Valid
6  YQTAP6661X  Invalid
7  HVOFE5635Y    Valid
8  HYUIJ7902R    Valid
9  IDSMT3429E    Valid

# printing the results 
1. getting the records of the total records
2. the total of vaild_records
3. the total of Invalid_counts
4. the total of missing_records

In [ ]:
records = pd.read_excel(r"C:\Users\Simon.ansah\OneDrive - Etranzact Ghana\confirmation GIP\PAN_NUMBERS VALODATIONS\PAN Number Validation Dataset.xlsx")
Total_records = len(records)
Valid_records = cs[cs['Status'] == 'Valid']
Invalid_records = cs[cs['Status'] == 'Invalid']
missing_records = Total_records - (len(Valid_records) + len(Invalid_records))
print('Total Records: ', Total_records)
print('Valid Records: ', len(Valid_records))
print('Invalid Records: ', len(Invalid_records))

Total Records:  10000
Valid Records:  3193
Invalid Records:  5832
Missing Records:  975

# Creating a summary of the results

In [96]:
cs_summary = pd.DataFrame({
    'Total Records': [Total_records],
    'Valid Records': [len(Valid_records)],
    'Invalid Records': [len(Invalid_records)],
    'Missing Records': [missing_records]
})
print(cs_summary)

   Total Records  Valid Records  Invalid Records  Missing Records
0          10000           3193             5832              975

# writing the summary and the results into an excel file (PAN_NNumber_Validation_Summary)

In [97]:
with pd.ExcelWriter('PAN_Number_Validation_Summary.xlsx') as writer:
    cs_summary.to_excel(writer, index=False, sheet_name='Summary')
    cs.to_excel(writer, index=False, sheet_name='Detailed Results')

Thank you

 By 
Simon Owusu Ansah (Data Analyst)

Linkedln: [see my profile](https://www.linkedin.com/in/simon-owusu-ansah-76224421a/)